@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. Set your own initial variables and derived
//    variables in _variables.scss
@import "variables";
$navbar-height: 5rem;
$navbar-item-img-max-height: 5rem;

// 2. Setup your Custom Colors
$secondary: $solitude;
$secondary-invert: findColorInvert($secondary);

@import "~bulma/sass/utilities/derived-variables";

// 3. Add new color variables to the color map.
$addColors: (
  "secondary":($secondary, $secondary-invert)
);
$colors: map-merge($colors, $addColors);

@import "~bulma";
@import "~buefy/src/scss/buefy";

// 4. Provide custom buefy overrides and site styles here
@import '~bulma-slider/dist/css/bulma-slider.sass'
