<template>
  <section class="section">
    <h1 class="subtitle">
      This is an about page
    </h1>
    <button
      class="button"
      @click="open"
    >
      Add Folder
    </button>
    <button @click="read">
      Read Files
    </button>
    <hr>
    <ul v-if="files.length">
      <li
        v-for="file in files"
        :key="file.uid"
      >
        {{ file.title }} - {{ file.path }}
      </li>
    </ul>
  </section>
</template>

<script>
import fs from 'fs'
import path from 'path'
import mime from 'mime'
import uuidv4 from 'uuid/v4'
import * as mm from 'music-metadata'
import { remote } from 'electron'
const { dialog } = remote
export default {
  data: () => ({ files: [] }),
  methods: {
    async read () {
      const files = await this.$DB.files.toArray()
      this.files = files
    },
    async open () {
      try {
        const dir = await dialog.showOpenDialog({ properties: ['openDirectory'] })[0]
        const fileNames = await fs.readdirSync(dir)
        const files = await Promise.all(fileNames.map(async fileName => {
          const uid = uuidv4()
          const tags = await mm.parseFile(`${dir}/${fileName}`)
          const { name, ext } = await path.parse(fileName)
          const filePath = `${dir}/${fileName}`
          const fileMime = mime.getType(filePath)
          return { uid, path: filePath, mime: fileMime, title: tags.title || name, type: ext, tags }
        }))
        await this.$DB.files.bulkAdd(files)
        await this.$store.dispatch('addFiles', files)
        dialog.showMessageBox({ type: 'info', message: `Added ${files.length} files!`, buttons: ['Ok'] })
      } catch (error) {
        console.error(error)
      }
    }
  }
}
</script>
