<template>
  <div class="section">
    <div
      v-if="files.length"
      class="columns is-multiline"
    >
      <div
        v-for="file in files"
        :key="file.uid"
        class="column is-3"
      >
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">
                  {{ file.title }} - <small>{{ file.tags.common.album || '' }}</small>
                </p>
                <p class="subtitle is-6">
                  {{ file.tags.common.artist || '' }}
                </p>
              </div>
            </div>

            <div class="content">
              {{ file.tags.common || '' }}
            </div>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <a
                v-if="currentTrack.uid !== file.uid || currentTrack.uid === file.uid && !playing"
                class="has-text-primary"
                @click="play(file)"
              >
                <play-icon />
              </a>
              <a
                v-if="currentTrack.uid === file.uid && playing"
                class="has-text-primary"
                @click="pause"
              >
                <pause-icon />
              </a>
            </p>
            <p class="card-footer-item">
              <a
                class="has-text-primary"
                @click="addToQueue(file)"
              >
                <plus-icon />
              </a>
            </p>
          </footer>
        </div>
      </div>
    </div>
    <section
      v-else
      class="hero"
    >
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">
            No songs yet!
          </h2>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { PlusIcon, PlayIcon, PauseIcon } from 'vue-feather-icons'
export default {
  components: { PlayIcon, PlusIcon, PauseIcon },
  computed: {
    files () { return this.$store.state.files },
    currentTrack () { return this.$store.state.player.currentTrack },
    playing () { return this.$store.state.player.playing }
  },
  methods: {
    async play (file) {
      this.$store.dispatch('setPlaying', file)
    },
    pause () {
      this.$store.dispatch('setPause')
    },
    addToQueue (file) {
      this.$store.dispatch('addToQueue', file)
    }
  }
}
</script>
