<template>
  <div class="container">
    <button
      class="button"
      @click="play"
    >
      Play
    </button>
    <vue-plyr ref="player">
      <audio />
    </vue-plyr>
  </div>
</template>

<script>
export default {
  computed: {
    player () { return this.$refs.player.player }
  },
  async mounted () {
    this.player.source = {
      type: 'audio',
      title: 'Just a Dream',
      sources: [
        {
          src: 'http://localhost:3123/home/travis/Music/Hillary%20Hunt/Titanium.m4a',
          type: 'video/mp4'
        }
      ]
    }
  },
  methods: {
    play () {
      this.player.play()
    }
  }
}
</script>
