<template>
  <div class="controls">
    <div class="control-buttons">
      <skip-back-icon
        class="control-icon"
        @click="back"
      />
      <play-icon
        v-if="!isPlaying"
        class="control-icon"
        @click="play"
      />
      <pause-icon
        v-if="isPlaying"
        class="control-icon"
        @click="pause"
      />
      <skip-forward-icon
        class="control-icon"
        @click="forward"
      />
    </div>
    <div class="control-range">
      <small>{{ currentTimeParsed }}</small>
      <input
        v-model="currentTime"
        class="slider is-fullwidth is-small is-circle is-grey"
        min="0"
        :step="0.01"
        :max="duration"
        type="range"
        @input="updateTime"
      >
      <small>{{ durationParsed }}</small>
    </div>
    <div class="control-volume">
      <volume-x-icon
        v-if="currentVolume <= 0"
        class="control-icon"
      />
      <volume-icon
        v-if="currentVolume > 0 && currentVolume <= 0.3"
        class="control-icon"
      />
      <volume-1-icon
        v-if="currentVolume > 0.3 && currentVolume <= 0.8"
        class="control-icon"
      />
      <volume-2-icon
        v-if="currentVolume > 0.8"
        class="control-icon"
      />
      <input
        v-model="currentVolume"
        class="slider is-fullwidth is-small is-circle is-grey"
        step="0.05"
        min="0"
        max="1"
        type="range"
      >
    </div>
  </div>
</template>

<script>
import converter from 'convert-seconds'
import { PlayIcon, SkipBackIcon, SkipForwardIcon, PauseIcon, VolumeIcon, Volume1Icon, Volume2Icon, VolumeXIcon } from 'vue-feather-icons'
export default {
  components: { PlayIcon, SkipBackIcon, SkipForwardIcon, PauseIcon, VolumeXIcon, VolumeIcon, Volume1Icon, Volume2Icon },
  props: {
    volume: {
      type: Number,
      default: 1
    },
    time: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      currentTime: this.time,
      currentVolume: this.volume
    }
  },
  computed: {
    isPlaying () { return this.$store.state.player.playing },
    duration () {
      const duration = this.$store.state.player.currentTrack.tags ? this.$store.state.player.currentTrack.tags.format.duration : 0
      return duration.toFixed()
    },
    currentTimeParsed () {
      const currentTimeParsed = converter(this.currentTime)
      const minutes = currentTimeParsed.minutes === 0 ? 0 : currentTimeParsed.minutes
      const seconds = currentTimeParsed.seconds < 10 ? `0${currentTimeParsed.seconds}` : currentTimeParsed.seconds
      return `${minutes}:${seconds}`
    },
    durationParsed () {
      const duration = this.$store.state.player.currentTrack.tags ? this.$store.state.player.currentTrack.tags.format.duration : 0
      const durationParsed = converter(duration)
      const minutes = durationParsed.minutes
      const seconds = durationParsed.seconds < 10 ? `0${durationParsed.seconds}` : durationParsed.seconds
      return `${minutes}:${seconds}`
    }
  },
  watch: {
    currentVolume (newVol, oldVol) {
      this.$emit('updateVolume', newVol)
    },
    time (newTime, oldTime) {
      this.currentTime = newTime
    }
  },
  methods: {
    back () {
      this.$emit('back')
    },
    play () {
      this.$emit('play')
    },
    pause () {
      this.$emit('pause')
    },
    forward () {
      this.$emit('forward')
    },
    updateTime (e) {
      this.$emit('updateTime', e.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.controls {
  display: flex;
  width: 100%;
  .control-buttons {
    display: flex;
    width: 8%;
    .control-icon {
      margin: 0 0.5rem;
      cursor: pointer;
    }
  }
  .control-range {
    display: flex;
    margin: 0 2rem;
    width: 82%;
    .slider {
      margin: 0 1rem;
    }
  }
  .control-volume {
    display: flex;
    width: 10%;
    .slider {
      margin: 0 0.4rem;
    }
  }
}
</style>
