<template>
  <div class="section has-background-secondary is-menu-main">
    <div class="is-menu-bg" />
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64 is-profile-image">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong>
            <br>
            <button class="button is-info is-small is-outlined">
              Profile
            </button>
          </p>
        </div>
      </div>
    </article>
    <br>
    <br>
    <aside class="menu">
      <ul class="menu-list">
        <li>
          <router-link to="/explore">
            Explore
          </router-link>
        </li>
        <li><a>Recently Played</a></li>
      </ul>
      <p class="menu-label has-text-primary">
        Your Music
      </p>
      <ul class="menu-list">
        <li><a>Songs</a></li>
        <li><a>Albums</a></li>
        <li><a>Artists</a></li>
        <li><a>Genres</a></li>
      </ul>
      <p class="menu-label has-text-primary">
        Your Playlists
      </p>
      <ul class="menu-list">
        <li><a>Accoustic Chill</a></li>
        <li><a>Friday Feelings</a></li>
        <li><a>Wednesday Soul</a></li>
      </ul>
    </aside>
  </div>
</template>

<style lang="scss" scoped>
.is-menu-main {
  background-image: url('https://images.unsplash.com/photo-1535833438489-c1774eaa5225?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjF9&blur=40&bri=10');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  // filter: blur(8px);
}

.section {
  height: 100%;
}

.is-profile-image {
  img {
    border-radius: 50%;
  }
}

button, .is-info {
  margin-top: 0.5rem;
}

.media-content {
  font-family: "Poppins";
  font-weight: 500;
}

.menu-label {
  margin-top: 3rem !important;
  padding-left: 0.75em;
}
</style>
