<template>
  <nav class="navbar is-transparent is-fixed-bottom">
    <div class="navbar-menu">
      <div class="navbar-item current-track">
        <article
          v-if="currentTrack.title"
          class="media current-track-details"
        >
          <figure class="media-left">
            <p class="image is-64x64 current-track-image">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ currentTrack.title }}</strong>
                <br>
                <small>{{ currentTrack.tags.common.artist || '' }}</small>
              </p>
            </div>
          </div>
        </article>
        <article
          v-else
          class="media"
        >
          <div class="media-content">
            <div class="content">
              <p>
                Nothing Playing
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="navbar-item player-instance">
        <controls
          class="controls"
          :volume="volume"
          :time="currentTime"
          @back="back"
          @play="player.play()"
          @pause="player.pause()"
          @forward="forward"
          @updateVolume="updateVolume"
          @updateTime="updateTime"
        />
        <vue-plyr
          ref="player"
          :options="options"
          class="player-parent"
        >
          <audio />
        </vue-plyr>
      </div>
    </div>
  </nav>
</template>

<script>
import Controls from '@/components/Controls'
import { remote } from 'electron'
const { dialog } = remote
export default {
  components: { Controls },
  data: () => ({
    options: {
      clickToPlay: false
    },
    duration: 0,
    currentTime: 0,
    volume: 1
  }),
  computed: {
    player () { return this.$refs.player.player },
    currentTrack () { return this.$store.state.player.currentTrack },
    playing () { return this.$store.state.player.playing }
  },
  watch: {
    currentTrack (newTrack, oldTrack) {
      const source = {
        type: 'audio',
        title: newTrack.title,
        sources: [
          {
            src: `http://localhost:3123/${newTrack.path}`,
            type: newTrack.mime
          }
        ]
      }
      this.player.source = source
      // this.duration = this.player.duration
      this.player.play()
    },
    playing (isPlaying, old) {
      if (isPlaying) {
        this.player.play()
      } else {
        this.player.pause()
      }
    }
  },
  mounted () {
    this.volume = this.player.volume
    this.player.on('play', () => this.$store.commit('setPlaying', true))
    this.player.on('pause', () => this.$store.commit('setPlaying', false))
    this.player.on('ended', async () => {
      const queue = this.$store.state.player.queue
      if (!queue.length) return this.$store.commit('setPlaying', false)
      await this.$store.dispatch('changeCurrentTrack')
      this.player.play()
    })
    this.player.on('timeupdate', (e) => {
      // const playerTime = this.player.currentTime.toFixed(2)
      // const percent = (100 / this.$store.state.player.currentTrack.tags.format.duration) * playerTime
      this.currentTime = parseFloat(this.player.currentTime.toFixed(2))
    })
  },
  methods: {
    back () {
      console.log('back')
    },
    forward () {
      if (!this.$store.state.player.queue.length) return dialog.showMessageBox({ type: 'error', message: 'Nothing in Queue.', buttons: ['Ok'] })
      this.$store.dispatch('changeCurrentTrack')
    },
    updateVolume (volume) {
      this.player.volume = volume
    },
    updateTime (time) {
      // this.player.pause()
      // const percent = (100 / this.$store.state.player.currentTrack.tags.format.duration) * time
      // this.currentTime = parseFloat(percent.toFixed(2))
      // this.player.currentTime = parseFloat(time)
      console.log(this.player.currentTime)
      // this.player.play()
      console.log(this.player.duration)
    }
  }
}
</script>

<style lang="scss">
.current-track {
  width: 15%;
}

.current-track-details {
  align-items: center !important;
}

.current-track-image {
  img {
    border-radius: 20%;
  }
}

.player-instance {
  width: 85%;
  .player-parent {
    display: none;
  }
}

.controls {
  margin-left: 2rem;
}
</style>
