<template>
  <div id="app">
    <div class="columns">
      <div class="column is-2">
        <Menu class="menu" />
      </div>
      <div class="column">
        <RouterView />
        <PlayBar />
      </div>
    </div>
  </div>
</template>

<script>
import PlayBar from '@/components/PlayBar'
import Menu from '@/components/Menu'
export default {
  components: { PlayBar, Menu },
  created () {
    this.$store.dispatch('loadFiles')
  }
}
</script>

<style lang="scss" scoped>
.menu {
  height: 100%;
}
</style>
